/*Will able to everything as a default*/
body{

}

/*IDs in css begin with a hashtag*/
#idname{
}

/*CLASSES in css begin with a dot*/
.classname{
}
.grey{
    background-color: gray;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.black{
    background-color: black;

}
.trans{
    background-color: transparent 
}
.small{
    height:100px;
    width:500px;
}
.big{
    width:500px;
    height:300px;
}
.big2{
    height:100px;
    width:100%;
}
.small2{
    height:200px;

}
.half_l{
    float: left;
    width: 50%;
}
.half_r{
    float: right;
    width: 50%;
}
.third{
    float: left;
    width: 33.33%;
}
.quarter{
    float: left;
    width:25%;
}
.three_quarters{
    float: right;
    width:75%;
}
.two_thirds{
    float: right;
    width: 66.67%;
}